<%= form_for(@anketum) do |f| %>
  <% if @anketum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anketum.errors.count, "error") %> prohibited this anketum from being saved:</h2>

      <ul>
      <% @anketum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_store %><br>
    <%= f.text_field :name_store %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
