<p id="notice"><%= notice %></p>

<p>
  <strong>Name store:</strong>
  <%= @anketum.name_store %>
</p>

<p>
  <strong>Email:</strong>
  <%= @anketum.email %>
</p>

<%= link_to 'Edit', edit_anketum_path(@anketum) %> |
<%= link_to 'Back', anketa_path %>
